:root {
    --background-color: rgba(194, 194, 194, 0.5);
}

.modal-wrapper {
    display: flex;
    justify-content: center;
}

.modal {
    border: 1px solid #c2c2c2;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 300px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-left div {
    margin: 8px 0;
    display: flex;
}

.modal-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.modal-left input,
.modal-left button {
    border-radius: 6px;
    padding: 4px 6px;
    border: none;
    background-color: transparent;
}

.modal-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

#modalCloseBtn,
#modalSaveBtn {
    cursor: pointer;
}

#modalCloseBtn:hover,
#modalSaveBtn:hover {
    opacity: 0.5;
}

#taskProject {
    min-width: 100px;
    height: 23px;
}

#taskName {
    width: 100%;
    height: 22px;
}
