.modal {
    display: flex;
    justify-content: center;
}

.modal div {
    display: flex;
}

.modal div p {
    display: block;
}

.modal div {
    display: flex;
    justify-content: column;
    flex-wrap: nowrap;
}

.modal div p {
    max-width: 50px;
}

.text {
    max-width: 50px;
    margin: 0px;
}